<p>
  <b>Time in:</b>
  <%= @attendance.time_in.strftime("%m-%d-%Y %H:%M") %>
</p>

<p>
  <b>Time out:</b>
  <%= @attendance.time_out.strftime("%m-%d-%Y %H:%M") %>
</p>


<%= link_to 'Edit', edit_attendance_path(@attendance) %> |
<%= link_to 'Back', attendances_path %>
